@font-face {
  font-family: "Vazirmatn";
  src: url("../assets/fonts/vazirmatn/vazirmatn-variable-wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
